

.game-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  --card-size: calc(min(14vw, 90px));
  --board-gap-size: calc(min(4.67vh, 20px));
}

.opponent-and-turn {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.game-container p {
  margin: 0;
  font-size: 1rem;
}

.turn {
  font-size: 1.25rem;
}

.board-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, var(--card-size) var(--board-gap-size)) var(--card-size);
  grid-template-rows: repeat(4, var(--card-size) var(--board-gap-size)) var(--card-size);
  justify-items: center;
  align-items: center;
}

.column-line {
  position: relative;
  z-index: -1;
  height: calc(.25 * var(--card-size)) ; 
  width: var(--board-gap-size); 
  opacity: 0.85;
}

.row-line {
  position: relative;
  z-index: -1;
  height: var(--board-gap-size);
  width: calc(.8 * var(--card-size)); 
  opacity: 0.85;
}

.hand {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, var(--card-size));
  grid-template-rows: repeat(2, var(--card-size));
  justify-items: center;
  align-items: center;
  gap: calc(.11 * var(--card-size));
  align-items: center;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 2.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 8px 6px -6px black;
}

.resign-button {
  background-color: red;
  border: none;
  opacity: 0.85;
  height: 2rem;
  width: 45%;
  color: white;
  border-radius: 2.5px;
  font-weight: bold;
}

.next-turn-button {
  background-color: green;
  border: none;
  opacity: 0.85;
  height: 2rem;
  width: 45%;
  color: white;
  border-radius: 2.5px;
  font-weight: bold;
}


