html {
  font-size: ;
}

.app-container {
  height: 100vh;
  max-width: 500px;
  margin: 0 auto;
}

.header-container {
  height:10vh;
}

.header-top-line {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
  margin: 5%;
}

.page-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

table {
  width: 90%;
  margin: 1rem auto;
  border-collapse: collapse;
  table-layout: fixed;
}

td, th {
  border: 1px solid black;
  text-align: center;
}

p {
  text-align: center;
}

input {
  font-size: 16px;
}
